@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2);
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2);
  font-display: swap;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans', sans-serif;
  font-size: 22px;
  line-height: 26px;
  background: #F2F2F2;
  color: black;
  max-width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 70px;
  margin-bottom: -10px;
}

.navigation-link-logo:focus {
  outline: 3px solid #83B3D3;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  max-width: 550px;
  margin: 0 0 0 28px;
  padding: 0;
  justify-content: space-between;
}

.likes-number {
  position: absolute;
  min-width: 20px;
  min-height: 20px;
  background: #7DB54F;
  border-radius: 20px;
  color: white;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  right: -1px;
  top: -11px;
}

.button-like:focus svg,
.button-like:hover svg {
  fill: #000;
  fill-opacity: 0.3;
}

.navigation-item {
  position: relative;
  margin: auto;
  padding: 18px 16px 22px;
  max-width: 140px;
}

.navigation-user {
  padding: 0;
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}

.navigation-user-item {
  width: 44px;
  text-align: center;
}

.button-like {
  position: relative;
  background: none;
  border: none;
}

.navigation ul {
  list-style: none;
}

.navigation-link {
  color: inherit;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  overflow-wrap: break-word;
}

.navigation-link:focus path,
.nav-link-svg:hover path {
  fill: #000;
  fill-opacity: 0.3;
}

.navigation-link-current::before {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #756257;
  left: 16px;
  right: 14px;
  bottom: 1px;
}

.navigation-list .navigation-link:focus,
.navigation-list .navigation-link:hover {
  border-bottom: 2px solid #756257;
  padding-bottom: 18px;
  outline: none;
}

.page-header {
  background: white;
  color: black;
}

.main-page {
  background-color: white;
  background-image: url(../images/main_background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.navigation-btn {
  font-family: 'PT Sans', sans-serif;
  margin: 14px 0;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: white;
  text-transform: uppercase;
  background-color: #756157;
  border: none;
  text-align: center;
  margin-bottom: 24px;
  width: 160px;
  min-height: 36px;
}

.navigation-btn:hover {
  background: #615048;
}

.navigation-btn:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.definition {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 553px;
}

.definition h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  padding: 0 290px;
}

.definition p {
  color: #333333;
  text-align: center;
  margin: 25px 270px 90px;
}

.features {
  display: flex;
  flex-wrap: wrap;
}

.features-item {
  max-width: 400px;
  background-color: #82B3D3;
  background-image: url(../images/rectangle_png.png);
  background-repeat: no-repeat;
  background-position: 50% 46%;
}


.features-item h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 92px 112px 0;
}

.features-item p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  margin: 62px 82px 111px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item-block {
  background-color: #83B3D31F;
  background-image: url(../images/rectangle_png_grey.png);
  background-position: 50% 49%;
  background-repeat: no-repeat;
  max-width: 400px;
}

.item-block h2 {
  margin: 103px 113px 0;
  text-align: center;
}

.item-block p {
  margin: 62px 85px 121px;
  text-align: center;
}

.features-list li:nth-child(2) {
  background-color: #83B3D333;
}

.features-list h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.features-list p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.productions-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.productions-items li {
  min-width: 400px;
  max-width: 400px;
  min-height: 384px;
}

.productions-living {
  background-image: url(../images/main_home.svg);
  background-repeat: no-repeat;
  background-position: 50% 78px;
  background-color: #83B3D31F;
}

.productions-food {
  background-color: white;
  background-image: url(../images/food.svg);
  background-repeat: no-repeat;
  background-position: 50% 78px;
}

.productions-souvenir {
  background-image: url(../images/gift_box.svg);
  background-repeat: no-repeat;
  background-position: 50% 78px;
  background-color: #83B3D31F;
}

.productions h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 182px 85px 0;
  overflow-wrap: break-word;
}

.productions p {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 30px 85px 0;
  padding-bottom: 80px;
}

.question {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.interest-block {
  display: flex;
  flex-direction: column;
  margin: 96px 304px;
  align-items: center;
}

.interest-block h2 {
  margin: 0;
}

.interest-block p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-top: 20px;
}

.btn-modal-window {
  font-family: 'PT Sans', sans-serif;
  background-color: #756157;
  border-radius: 4px;
  min-width: 376px;
  min-height: 52px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border: none;
  margin-top: 54px;
  cursor: pointer;
}

.more-detailed-link:focus,
.navigation-btn:focus,
.btn-modal-window:focus,
.btn-modal-window:hover {
  background: #615048;
  outline: none;
}

.btn-modal-window:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.aside-main {
  background-color: #83B3D3;
  background-image: url(../images/subscribe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.form-subscribe input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding-left: 20px;
}

.mailing {
  padding: 96px 258px 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mailing h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  padding: 0;
  margin: 0;
}

.mailing p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: white;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.form-subscribe {
  display: flex;
  margin: 54px 258px 0;
}

.form-subscribe input {
  width: 432px;
  height: 32px;
  border-radius: 4px 0 0 4px;
  border: none;
  padding: 10px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.form-subscribe input:focus {
  outline: 3px solid #83B3D3;
}

.button {
  font-family: 'PT Sans', sans-serif;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  min-width: 232px;
  min-height: 52px;
  overflow-wrap: anywhere;
}

.button:focus,
.button:hover {
  background: #68A2CA;
  outline: none;
}

.button-search:active,
.button:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: black;
  text-decoration: none;
}

.phone:focus,
.phone:hover {
  color: #756157;
  outline-color: #756157;
}

.phone:active {
  color: rgba(117, 97, 87, 0.3);
}

/*Стили для catalog.html*/
.catalog-page {
  background-color: white;
}

.selection-hotels {
  background-color: #83B3D3;
  background-image: url(../images/catalog/filter.jpg);
  background-repeat: no-repeat;
  padding: 35px 70px 70px;
  background-size: cover;
}

.selection-hotels h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: white;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  background-image: url(../images/catalog/half_row.svg);
  background-repeat: no-repeat;
  background-position: 24px 5px;
}

.breadcrumbs li {
  margin-right: 28px;
}

.breadcrumbs a {
  font-family: 'PT Sans', sans-serif;
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: block;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:focus {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.3;
}

.form-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.catalog-filter {
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-block {
  max-width: 150px;
  margin-right: 66px;
  margin-top: 40px;
}

.price-place {
  display: flex;
  gap: 5px;
  margin-bottom: 43px;
}

.catalog-filter-price {
  margin-left: 80px;
  max-width: 290px;
  margin-right: 66px;
  margin-top: 40px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: white;
  padding: 0;
  margin-bottom: 32px;
  overflow-wrap: anywhere;
}

.control {
  display: flex;
  align-items: center;
}

.control-place {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.control-mark {
  display: block;
  position: relative;
  min-width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 4px;
  margin-right: 16px;
}

.control-label {
  overflow-wrap: anywhere;
}

.control:hover .control-radio,
.control:hover .control-mark {
  opacity: 0.6;
}

.control:active .control-radio,
.control:active .control-mark {
  opacity: 0.3;
}

.control-input[type="checkbox"]:checked+.control-mark::before,
.control-input[type="checkbox"]:checked+.control-mark::after {
  background: url(../images/input_arrow.svg) white no-repeat center;
  position: absolute;
  left: 3.5px;
  top: 6px;
  width: 13px;
  height: 10px;
  content: "";
}

.control-radio {
  position: relative;
  display: block;
  min-width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  margin-right: 16px;
}

.control-input[type="radio"]:checked+.control-radio::before,
.control-input[type="radio"]:checked+.control-radio::after {
  background: url(../images/circle.svg) white no-repeat;
  position: absolute;
  left: 4.5px;
  top: 4.5px;
  width: 11px;
  height: 11px;
  content: "";
}

.control-input:focus+.control-mark {
  outline: 3px solid #83B3D3;
}

.control-input:focus+.control-radio {
  outline: 3px solid #83B3D3;
}


.range-control {
  width: 287px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control-before {
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border: none;
  width: 104px;
  height: 48px;
  padding: 0 20px;
  margin-right: -3px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.range-toggle:focus,
.control-after:focus,
.control-before:focus {
  outline: 3px solid #83B3D3;
}

.select-control:focus,
.cancel-button:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
  outline: none;
}

.button-table:focus {
  border: 2px solid #83B3D3;
  border-radius: 4px;
  outline: none;
}

.price-min {
  position: relative;
}

.placeholder {
  display: block;
  position: absolute;
  right: 18px;
  top: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  opacity: 0.3;
}

.range {
  position: relative;
  width: 287px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: white;
  left: 0;
  width: 226px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-min {
  left: 0;
  top: -8px;
}

.toggle-max {
  right: -4px;
  top: -8px;
}

.control-after {
  background: #F2F2F2;
  border-radius: 0 4px 4px 0;
  border: none;
  width: 104px;
  height: 48px;
  padding: 0 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.accept-button {
  font-family: 'PT Sans', sans-serif;
  min-width: 190px;
  min-height: 36px;
  background: #82B3D3;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: white;
  text-transform: uppercase;
  margin-top: 95px;
}


.accept-button:focus,
.accept-button:hover {
  background: #68A2CA;
  outline: none;
}

.accept-button:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}


.cancel-button {
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  min-width: 190px;
  min-height: 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: white;
  background: none;
  border: none;
  margin-top: 32px;
}

.cancel-button:hover {
  opacity: 0.6;
}

.cancel-button:active {
  opacity: 0.3;
}

.hotels-filter {
  display: flex;
  padding: 50px 70px 0;
}

.button-table {
  min-width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background: none;
}

.button-table:hover {
  border: 2px solid black;
}

.cards {
  position: relative;
  background-image: url(../images/catalog/cards.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.cards::before {
  content: "";
  position: absolute;
  width: 44px;
  height: 44px;
  border: 2px solid black;
  border-radius: 4px;
  top: -2px;
  left: -2px;
}

.slide {
  background-image: url(../images/catalog/slide.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.column {
  background-image: url(../images/catalog/column.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.button-table:not(:last-child) {
  margin-right: 8px;
}

.heading-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: black;
  padding: 0;
  margin: auto 0;
  margin-right: 200px;
}

.select-control {
  font-family: 'PT Sans', sans-serif;
  width: 292px;
  height: 50px;
  margin-right: 70px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding: 0 19px;
  appearance: none;
  background: url(../images/arrow_select.svg) no-repeat right;
  background-position-x: calc(100% - 17px);
}

.select-control:hover {
  border: 2px solid #68A2CA;
}

.select-control:focus {
  border: 2px solid #68A2CA;
}

.select-control:active {
  border: 2px solid #3F5E72;
}

.hotels-result {
  margin: 38px 70px;
}

.product-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  gap: 17px;
}

.product-card {
  width: 340px;
  min-height: 438px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.card-content {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card:nth-child(1) .card-content {
  background-image: url(../images/catalog/stars_4.svg);
  background-repeat: no-repeat;
  background-position: 0 100%;
}

.product-card:nth-child(2) .card-content {
  background-image: url(../images/catalog/stars_4.svg);
  background-repeat: no-repeat;
  background-position: 0 100%;
}

.product-card:nth-child(3) .card-content {
  background-image: url(../images/catalog/stars_3.svg);
  background-repeat: no-repeat;
  background-position: 0 100%;
}

.product-card:nth-child(4) .card-content {
  background-image: url(../images/catalog/stars_2.svg);
  background-repeat: no-repeat;
  background-position: 0 100%;
}

.product-card-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: black;
}

.product-card-title {
  padding: 0;
  margin: 10px 0 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.product-card-select {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 50%;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  overflow-wrap: break-word;
}

.product-card-price {
  text-align: right;
}

.favorites-button {
  min-width: 140px;
  min-height: 36px;
  font-family: 'PT Sans', sans-serif;
  background: #82B3D3;
  border-radius: 4px;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.favorites-button-current {
  background: #7DB54F;
}

.tooltip-toggle:focus,
.tooltip-toggle:hover,
.button-search:hover,
.button-search:focus,
.favorites-button:focus,
.favorites-button:hover {
  background: #68A2CA;
  outline: none;
}

.favorites-button:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.rating-hotel {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  margin-top: 16px;
  background: #F2F2F2;
  border-radius: 4px;
  margin-left: auto;
  padding: 8px 22px;
}

.more-detailed-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: white;
  background-color: #756157;
  padding: 8px 26px;
  border-radius: 4px;
}

.more-detailed-link:hover {
  background: #615048;
}

.more-detailed-link:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.line {
  max-width: 1060px;
  opacity: 0.3;
  margin: 0 auto;
}

.pagination-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 40px 70px 61px;
}

.pagination-item {
  min-width: 60px;
  min-height: 60px;
  background: #82B3D3;
  border-radius: 4px;
}

.pagination-item:hover {
  background: #F2F2F2;
}

.pagination-current:focus,
.pagination-current:hover {
  color: black;
  background: #F2F2F2;
}

.pagination-item:nth-child(5) div{
  background: white;
  color: black;
}

.pagination-item:first-child a {
  color: black;
  background: #F2F2F2;
}

.pagination-item:nth-child(5) a {
  color: black;
  cursor: default;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.aside-catalog {
  text-align: center;
  background-color: white;
  background-image: none;
}

.aside-catalog h2 {
  color: black;
}

.aside-catalog p {
  color: #333333;
}

.aside-catalog input {
  background-color: #F2F2F2;
}

.social-link {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  max-width: 150px;
}

.page-footer {
  background-color: white;
  min-height: 120px;
}

.social-item {
  display: block;
  padding: 13px;
}

.social-item-link:focus path,
.social-item-link:hover path {
  fill: #68A2CA;
}

.social-item-link:active path {
  fill: #68A2CA;
  fill-opacity: 0.3;
}

.social-item-link:focus {
  outline-color: #68A2CA;
}

.htmlAcademy-link:focus path,
.htmlAcademy-svg:hover path {
  fill: #756157;
}

.htmlAcademy-link:focus {
  outline-color: #756157;
}

.htmlAcademy-svg:active path {
  fill: #756157;
  fill-opacity: 0.3;
}

.footer-content {
  display: flex;
  margin: 40px 70px 30px;
  justify-content: space-between;
  align-items: center;
}

.tooltip {
  margin-right: 46px;
}

.tooltip-toggle {
  border: none;
  height: 26px;
  width: 26px;
  background: #83B3D3;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-text {
  position: absolute;
  width: 216px;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 15px 18px;
  z-index: 1;
  display: none;
  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-top: 15px;
  transform: translate(-116px, 0);
}

.tooltip-text:after {
  content: '';
  background-image: url("../images/tooltip_arrow.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.tooltip-toggle:hover+.tooltip-text,
.tooltip-toggle:focus+.tooltip-text {
  display: block;
}


/* Модальное окно */

.modal-window {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
  display: none;
  left: 0;
}


.modal-window-content {
  background-color: white;
  max-width: 580px;
  min-height: 445px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  padding: 64px 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.close-modal-window {
  position: fixed;
  right: 53px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: none;
  background: #F2F2F2;
}

.close-modal-window:hover {
  background: #E6E6E6;
}

.close-modal-window:focus {
  outline: 2px solid #82B3D3ed;
}

.close-modal-window:active path {
  background: #E6E6E6;
  fill: #000;
  fill-opacity: 0.3;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form p {
  margin: 0;
  margin-bottom: 48px;
}

.input-date {
  position: relative;
  padding: 12px 20px;
  border: none;
  background: #F2F2F2;
  border-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 390px;
}

.input-date:focus {
  outline: 2px solid #82B3D3ed;
}

.date-in {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-right: 24px;
}

.date-out {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-right: 18px;
}

.form-date {
  position: relative;
}

.form-date::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../images/calendar.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
  left: 540px;
  top: 16px;
  z-index: 1;
}

.verify-date-in {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  right: 140px;
  top: 50px;
  color: #FF5757;
}

.verify-date-out {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  right: 88px;
  top: 50px;
  color: black
}

.block-adult label {
  margin-right: 46px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.block-child label {
  margin-right: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.people-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.range-set::-webkit-outer-spin-button,
.range-set::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.block-adult {
  display: flex;
  align-items: center;
}

.range-set {
  width: 48px;
  height: 48px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  border: none;
  color: black;
  background-color: #F2F2F2;
  padding: 0;
}

.button-plus {
  position: relative;
  width: 30px;
  height: 48px;
  border: none;
  background-color: #F2F2F2;
  padding: 0;
  vertical-align: middle;
  border-radius: 0 4px 4px 0;
}

.button-minus:hover path,
.button-plus:hover path {
  fill: #000;
  fill-opacity: 1;
}

.button-minus:focus,
.button-plus:focus {
  outline: none;
  border: 2px solid #82B3D3;
  border-radius: 4px;
}

.button-minus:active path,
.button-plus:active path {
  fill: #756157;
  fill-opacity: 0.3;
}

.block-adult .button-plus {
  margin-right: 88px;
}

.button-minus {
  position: relative;
  width: 30px;
  height: 48px;
  border: none;
  background-color: #F2F2F2;
  padding: 0;
  vertical-align: middle;
  border-radius: 4px 0 0 4px;
}

.button-plus svg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.button-minus svg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.block-child {
  display: flex;
  align-items: center;
}

.button-search {
  background: #83B3D3;
  border-radius: 10px;
  border: none;
  width: 577px;
  height: 60px;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: white;
  text-transform: uppercase;
}

.modal-window-h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: black;
  margin: 0;
  margin-bottom: 64px;
}
