@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2);
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2);
  font-display: swap;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans', sans-serif;
  font-size: 22px;
  line-height: 26px;
  background: #F2F2F2;
  color: black;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin: 0 70px;
  margin-bottom: -10px;
}

.navigation-list {
  display: flex;
  height: 100%;
  margin: 0 0 0 28px;
  padding: 0;
  justify-content: space-between;
}

.likes-number {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #7DB54F;
  border-radius: 50%;
  color: white;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  right: 181px;
  top: 11px;
}

.button-like:hover .likes-number {
  background-color: red;
}

.navigation-item {
  margin: auto;
  padding: 20px 16px;
}

.navigation-user {
  padding: 0;
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}

.navigation-user-item {
  width: 44px;
  text-align: center;
}

.button-like {
  background: none;
  border: none;
}

.navigation ul {
  list-style: none;
}

.navigation-link {
  color: inherit;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.navigation-list .navigation-link:hover {
  border-bottom: 2px solid #756257;
  padding-bottom: 16px;
}

.page-header {
  background: white;
  color: black;
}

.main-page {
  background-color: white;
  background-image: url(../images/mainBackground.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.navigation-btn {
  font-family: 'PT Sans';
  padding: 8px 32px;
  margin: auto 0;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: white;
  text-transform: uppercase;
  background-color: #756157;
  border: none;
  text-align: center;
  margin-bottom: 24px;
}

.navigation-btn:hover {
  background: #615048;
}

.navigation-btn:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.definition {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 550px;
}

.definition h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  padding: 0 290px;
}

.definition p {
  color: #333333;
  text-align: center;
  padding-top: 5px;
  margin-bottom: 90px;
}

.features {
  display: flex;
  flex-wrap: wrap;
}

.features-item {
  max-width: 400px;
  background-color: #82B3D3;
  background-image: url(../images/RectanglePng.png);
  background-repeat: no-repeat;
  background-position: 50% 46%;
}


.features-item h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 92px 112px 0;
}

.features-item p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  margin: 62px 82px 111px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item-block {
  background-color: #83B3D31F;
  background-image: url(../images/RectanglePngGrey.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  max-width: 400px;
}

.item-block h2 {
  margin: 103px 113px 0;
  text-align: center;
}

.item-block p {
  margin: 62px 85px 121px;
  text-align: center;
}

.features-list li:nth-child(2) {
  background-color: #83B3D333;
}

.features-list h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.features-list p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.productions-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.productions-items li {
  min-width: 400px;
  min-height: 384px;
}

.productions-living {
  background-image: url(../images/mainHome.svg);
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-color: #83B3D31F;
}

.productions-food {
  background-image: url(../images/food.svg);
  background-repeat: no-repeat;
  background-position: 50% 25%;
}

.productions-souvenir {
  background-image: url(../images/giftBox.svg);
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-color: #83B3D31F;
}

.productions h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 182px 85px 0;
}

.productions p {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 30px 85px 0;
}

.question {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.interest-block {
  display: flex;
  flex-direction: column;
  margin: 96px 304px;
  align-items: center;
}

.interest-block h2 {
  margin: 0;
}

.interest-block p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-top: 20px;
}

.btn-modal-window {
  font-family: 'PT Sans';
  background-color: #756157;
  border-radius: 4px;
  width: 376px;
  height: 52px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border: none;
  margin-top: 54px;
  cursor: pointer;
}

.btn-modal-window:hover {
  background: #615048;
}

.btn-modal-window:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.aside-main {
  background-image: url(../images/Subscribe.jpg);
  background-repeat: no-repeat;
}

.form-subscribe input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding-left: 20px;
}

.mailing {
  padding: 96px 258px 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mailing h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  padding: 0;
  margin: 0;
}

.mailing p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: white;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.form-subscribe {
  display: flex;
  margin: 54px 258px 0;
}

.form-subscribe input {
  width: 452px;
  height: 52px;
  border-radius: 4px 0 0 4px;
  border: none;
}

.button {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  border: none;
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
  cursor: pointer;
}

.button:hover {
  background: #68A2CA;
}

.button:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: black;
  text-decoration: none;
}

.phone:hover {
  color: #756157;
}

.phone:active {
  color: rgba(117, 97, 87, 0.3);
}

/*Стили для catalog.html*/
.catalog-page {
  background-color: white;
}

.selection-hotels {
  background-image: url(../images/catalog/filter.jpg);
  background-repeat: no-repeat;
  padding: 35px 70px 70px;
}

.selection-hotels h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: white;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  background-image: url(../images/catalog/halfRow.svg);
  background-repeat: no-repeat;
  background-position: 24px 5px;
  margin-bottom: 40px;
}

.breadcrumbs li {
  margin-right: 28px;
}

.breadcrumbs a {
  font-family: 'PT Sans';
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: block;
}

.form-catalog {
  display: flex;
  justify-content: space-between;
}

.catalog-filter {
  border: none;
  margin: 0;
  padding: 0;
}

.price-place {
  display: flex;
  gap: 5px;
  margin-bottom: 36px;
}

.catalog-filter-price {
  margin-left: 90px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: white;
  padding: 0;
  margin-bottom: 32px;
}


.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.range-control {
  width: 287px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
}

.control-before {
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border: none;
  width: 100px;
  height: 48px;
  padding: 0 20px;
  margin-right: -3px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}


.control-after {
  background: #F2F2F2;
  border-radius: 0 4px 4px 0;
  border: none;
  width: 100px;
  height: 48px;
  padding: 0 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.accept-button {
  font-family: 'PT Sans';
  width: 190px;
  height: 36px;
  background: #82B3D3;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: white;
  text-transform: uppercase;
  margin-top: 56px;
}

.accept-button:hover {
  background: #68A2CA;
}

.accept-button:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}


.cancel-button {
  font-family: 'PT Sans';
  text-transform: uppercase;
  width: 190px;
  height: 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: white;
  background: none;
  border: none;
  margin-top: 32px;
}

.cancel-button:hover {
  opacity: 0.6;
}

.cancel-button:active {
  opacity: 0.3;
}

.hotels-filter {
  display: flex;
  padding: 50px 70px 0;
}

.button-table {
  width: 44px;
  height: 44px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.button-table:hover {
  border: 2px solid black;
}

.cards {
  background-image: url(../images/catalog/cards.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.slide {
  background-image: url(../images/catalog/slide.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.column {
  background-image: url(../images/catalog/column.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.button-table:not(:last-child) {
  margin-right: 8px;
}

.heading-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: black;
  padding: 0;
  margin: auto 0;
  margin-right: 200px;
}

.select-control {
  font-family: 'PT Sans';
  width: 292px;
  height: 44px;
  margin-right: 70px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding: 0 14px;
  appearance: none;
  background: url(../images/arrowSelect.svg) no-repeat right;
  background-position-x: calc(100% - 14px);
}

.select-control:hover {
  border: 2px solid #68A2CA;
}

.select-control:focus {
  border: 2px solid #68A2CA;
}

.select-control:active {
  border: 2px solid #3F5E72;
}

.hotels-result {
  margin: 40px 70px;
}

.product-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  gap: 20px;
}

.product-card {
  width: 340px;
  height: 438px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.card-content {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card:nth-child(1) .card-content {
  background-image: url(../images/catalog/stars-4.svg);
  background-repeat: no-repeat;
  background-position: 0 100%;
}

.product-card:nth-child(2) .card-content {
  background-image: url(../images/catalog/stars-4.svg);
  background-repeat: no-repeat;
  background-position: 0 100%;
}

.product-card:nth-child(3) .card-content {
  background-image: url(../images/catalog/stars-3.svg);
  background-repeat: no-repeat;
  background-position: 0 100%;
}

.product-card:nth-child(4) .card-content {
  background-image: url(../images/catalog/stars-2.svg);
  background-repeat: no-repeat;
  background-position: 0 100%;
}

.product-card-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: black;
}

.product-card-title {
  padding: 0;
  margin: 16px 0;
}

.product-card-select {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 50%;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}

.product-card-price {
  text-align: right;
}

.favorites-button {
  width: 140px;
  height: 36px;
  font-family: 'PT Sans';
  background: #82B3D3;
  border-radius: 4px;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.favorites-button:hover {
  background: #68A2CA;
}

.favorites-button:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.rating-hotel {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  margin-top: 16px;
  background: #F2F2F2;
  border-radius: 4px;
  margin-left: auto;
  padding: 8px 22px;
}

.more-detailed-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: white;
  background-color: #756157;
  padding: 8px 26px;
  border-radius: 4px;
}

.more-detailed-link:hover {
  background: #615048;
}

.more-detailed-link:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.line {
  max-width: 1060px;
  opacity: 0.3;
  margin: 0 auto;
}

.pagination-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 40px 70px 60px;
}

.pagination-item {
  width: 60px;
  height: 60px;
  background: #82B3D3;
  border-radius: 4px;
}

.pagination-item:hover {
  background: #F2F2F2;
}

.pagination-item a:hover {
  color: black;
}

.pagination-item:nth-child(5) {
  background: none;
}

.pagination-item:nth-child(5) a {
  color: black;
  cursor: default;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.aside-catalog {
  text-align: center;
  background-image: none;
}

.aside-catalog h2 {
  color: black;
}

.aside-catalog p {
  color: #333333;
}

.aside-catalog input {
  background-color: #F2F2F2;
}

.social-link {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

.page-footer {
  background-color: white;
  min-height: 120px;
}

.social-item {
  display: block;
  padding: 13px;
}

.footer-content {
  display: flex;
  margin: 40px 70px 30px;
  justify-content: space-between;
  align-items: center;
}

.tooltip-button {
  height: 26px;
  width: 26px;
  background: #83B3D3;
  border-radius: 50%;
  border: none;
}




/* Модальное окно */

.modal-window {
  position: fixed;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
  display: none;
}

.modal-window-table {
  display: table-cell;
  vertical-align: middle;
}

.modal-window-content {
  background-color: white;
  width: 720px;
  height: 575px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  margin: 0 auto;
}

.close-modal-window {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: none;
  background-image: url(../images/cross.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.modal-form {
  display: grid;
  grid-template: 48px 48px 48px 60px/1fr 1fr;
  padding: 0 70px;
  margin: 0;
  gap: 48px 0;
}

.modal-form p:first-child {
  grid-column: 1/3;
  grid-row: 1/2;
}

.modal-form p:nth-child(2) {
  grid-column: 1/3;
  grid-row: 2/3;
}

.button-search {
  grid-column: 1/3;
  grid-row: 4/5;
  background: #83B3D3;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: white;
  text-transform: uppercase;
}

.modal-window-h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: black;
  margin: 0;
}


/* стили каталога */
